# Terraform working directories and state
.terraform/
**/.terraform
**/.terraform/**
infrastructure/terraform/stacks/**/.terraform/**
.terraform.lock.hcl
*.tfstate
*.tfstate.*
terraform.tfstate.d/
infrastructure/terraform/state/

# Build artefacts
build/
target/

application/.gradle/
application/build/
